/* screen.css */

body {
    font-family: sans-serif;
    color: #586e75;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #268bd2;
}

a:hover {
    color: #cb4b16;
}

input {
    border: 1px solid #586e75;
}

#container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 10px;
}

#flash, #main {
    margin: 10px 0;
    background-color: #eee;
    padding: 10px;
}

footer {
    font-size: 80%;
}
