/* screen.css */

body {
    font-family: sans-serif;
    background: #fdf6e3;
    color: #586e75;
    line-height: 20px;
    margin: 0;
    padding: 50px;
}

a {
    text-decoration: none;
    color: #268bd2;
}

a:hover {
    color: #cb4b16;
}

input {
    border: 1px solid #586e75;
}
#flash, #main {
    margin: 10px 0;
    background: #eee8d5;
    padding: 10px;
}

footer {
    font-size: 80%;
}
